

body{
   background-image: linear-gradient(to right, rgb(221, 224, 243), rgb(139, 208, 243), rgb(206, 213, 231));
}
h1{
    font-size: 100px;
    text-align: center;
    color: rgb(12, 6, 77);
    text-shadow: rgb(225, 154, 227) 3px 2px 5px;
}
#imageBlock{
    display: block;
    margin: 0;
    text-align: center;
    box-shadow: rgb(139, 188, 227) 3px 5px 4px;
}
#btn{
        background-color: #6890c1;
        border: none;
        color: black;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 20px;
    box-shadow: black 2px 3px 4px;
}
#dogEl{
    margin: 0;
    display: block;
    text-align: center;
    
}
p{
    font-size: 40px;
    text-align: center;
    color: rgb(166, 63, 189);
    text-decoration-style: bold;
}
#dogInfo{
    height: 150px;
    /* width: 400px; */
    display: block;
    margin: 0;
    align-content: center;
    text-align: center;
}
#type{
    height: 50px;
    width: auto;
    text-align: center;
    box-shadow: black 3px 2px 4px;
}
#color{
    height: 50px;
    text-align: center;
    box-shadow: black 3px 2px 4px;
}
#age{
    height: 50px;
    text-align: center;
    box-shadow: black 3px 2px 4px;
}
#details{
    height: 50px;
    width: 200px;
    text-align: center;
    box-shadow: black 3px 2px 4px;
}
#submit{
    margin: 2%;
    text-align: center;
    box-shadow: black 3px 2px 4px;
}